@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #0a0a0a
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #393838;
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes flash {
  0% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0px 10px rgba(255, 255, 255, 0.8));
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 1));
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
  }
}

.flash {
  animation: flash 0.3s ease-out;
}
